---
import type { Project } from "../../types";

export interface Props {
  project: Project;
}

const { project } = Astro.props;
const { projectName, projectDescription, projectLink } = project;
---

<div
  class="projectCard text-center p-4 outline outline-niceGreen rounded-xl shadow-lg shadow-neutral-900 flex-1"
  id={projectName + projectLink}
>
  <!-- Project Name Header -->
  <div class='transition duration-500 ease-in-out'>
    <div class="">
      <a href={projectLink} target="_blank">
      <h3 class="text-2xl font-bold inline">{projectName}</h3>
        <svg
          name={projectName}
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 inline text-niceBlue hover:opacity-50 -translate-y-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
        </svg>
      </a>
    </div>
    <!-- Project Description -->
    <p>{projectDescription}</p>
  </div>
  <script></script>
</div>
<script>
const cards = document.getElementsByClassName('projectCard')

const animateLink = () => {
  if (!cards) return;
  const cardsArray = Array.from(cards)

  cardsArray.forEach(card => {
    const div1 = card.children[0]
    if (!div1) return;
    const div2 = div1.children[0]
    if (!div2) return;
    const link = div2.children[0]
    if (!link) return;
    const svg = link.children[1]
    if (!svg) return;
    card.addEventListener('mouseenter', () => {
      svg.classList.add('animate-bounce')
    })
    card.addEventListener('mouseleave', () => {
      svg.classList.remove(`animate-bounce`)
    })
  })

}

  animateLink()
</script>
