---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" >
  <main class='h-[80vh] text-center'>
    <h1 class='p-12'>Oops, I haven't made that page yet!</h1>
    <a href='/' class='text-niceBlue hover:opacity-50'>Back Home</a>
  </main>
</Layout>
