---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact"
---

<Layout title="Contact">
  <main class="text-center">
    <h1 class="text-4xl pt-7 pb-8">Get in Touch</h1>
    <Contact client:load />
  </main>
</Layout>
