---
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact";
import Projects from "../components/projects/Projects";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scott Hoecker">
  <main class="mx-auto text-center md:w-[80vw]">
    <div class="mx-auto w-fit pt-8 sm:pt-2">
      <h1 class="text-5xl lg:text-7xl">
        Hi, I'm <span class="block text-niceGreen sm:inline">Scott Hoecker</span
        >
      </h1>
      <p class="text-right text-niceBlue">(like the "o" isn't there)</p>
    </div>
    <p class="pt-8"><code>Developer // Musician</code></p>

    <!-- About me dropdown -->
    <AboutMe />

    <!-- Project Showcase -->
    <section id="projects">
      <h2 class="p-4 text-3xl">Things I've Built</h2>
      <Projects client:load />
    </section>

    <!-- Contact Form -->
    <section id="contact">
      <h2 class="pb-7 pt-7 text-3xl">Get in Touch</h2>
      <Contact client:load />
    </section>
  </main>
</Layout>
<style is:global>
  @import "../styles/global.css";
</style>
