---
import Layout from '../layouts/Layout.astro';
---
<Layout title="scottHoecker">
  <main>
    <div class='w-fit'>
      <h1 class="text-5xl">Hi, I'm Scott Hoecker</h1>
      <p class='text-right'>(like the "o" isn't there)</p>
    </div>
  </main>
</Layout>
<style is:global>
  @import "../styles/global.css";
</style>
