---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Projects from '../components/projects/Projects'
---

<Layout title="Scott Hoecker">
  <main class="md:w-[80vw] mx-auto text-center">
    <div class="w-fit mx-auto sm:pt-2 pt-8">
      <h1 class="lg:text-7xl text-5xl">
        Hi, I'm <span class="text-niceGreen block sm:inline">Scott Hoecker</span
        >
      </h1>
      <p class="text-right text-niceBlue">(like the "o" isn't there)</p>
    </div>
    <p class="pt-8"><code>Developer // Musician</code></p>

    <!-- About me dropdown -->
    <AboutMe />

    <!-- Project Showcase -->
    <section id="projects">
      <h2 class="text-3xl p-4">Things I've Built</h2>
      <Projects client:load />
    </section>
  </main>
</Layout>
<style is:global>
  @import "../styles/global.css";
</style>
