<div class="flex gap-1 justify-center items-center relative pt-4">
  <img
    src="images/scott_at_work_96.png"
    height="64px"
    width="64px"
    alt="Scott hard at work"
  />
  <h2 class="py-6 text-2xl">About Me</h2>
  <button id="show" name="Show about me section"
    ><svg
      id="downArrow"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 inline text-niceBlue animate-bounce"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
    </svg></button
  >
  <button id="hide" class="hidden text-niceBlue" name="Hide about me section">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
    </svg>
  </button>
  <p
    id="aboutMe"
    class="hidden p-2 z-[2] outline-niceBlue outline rounded-xl absolute top-24 bg-mainBackground/20 backdrop-blur-xl md:max-w-[50vw] shadow-lg shadow-neutral-900 overflow-y-scroll max-h-96 sm:max-h-64"
  >
    Currently located in Chicago. After over a decade of playing trumpet
    professionally, I decided to pursue another passion - tech!<br /><br />After
    completing Harvard's <a
      class="text-niceGreen hover:opacity-50"
      href="https://cs50.harvard.edu/x/2023/">CS50x course</a
    > in 2020, I found <a
      href="https://launchschool.com"
      class="text-niceGreen hover:opacity-50">Launch School</a
    >.<br /><br />After a year and a half of working through their curriculum
    and mastery-based approach to learning the fundamentals of web development,
    my skills have grown to the point where I have been able to solve real
    problems using code.<br /><br />I am excited to continue to apply and grow
    these skills in new and innovative ways.
  </p>
</div>
<script>
  const aboutMe = document.getElementById("aboutMe");
  const show = document.getElementById("show");
  const hide = document.getElementById("hide");
  const downArrow = document.getElementById("downArrow");

  const showAboutMe = () => {
    if (!aboutMe || !show || !hide || !downArrow) return;
    aboutMe.classList.remove("hidden");
    show.classList.add("hidden");
    hide.classList.remove("hidden");
  };

  const hideAboutMe = () => {
    if (!aboutMe || !show || !hide || !downArrow) return;
    aboutMe.classList.add("hidden");
    show.classList.remove("hidden");
    hide.classList.add("hidden");
  };
  const toggleAboutMe = () => {
    if (!aboutMe || !show || !hide || !downArrow) return;

    show.addEventListener("click", () => {
      showAboutMe();
      downArrow.classList.remove("animate-bounce");
    });

    hide.addEventListener("click", () => {
      hideAboutMe();
    });

    document.addEventListener("click", (e) => {
      if (e.target !== aboutMe && e.target !== downArrow) {
        hideAboutMe();
      }
    })
  };

  toggleAboutMe();
</script>
