---
import { Image } from "astro:assets"
import { aboutMeId } from "../constants.ts"
---

<section id={aboutMeId} class="scroll-m-4 pt-12">
  <div class="mx-auto flex w-fit items-center justify-center gap-1">
    <Image
      loading="eager"
      src="/images/scott_at_work_64.png"
      height={64}
      width={64}
      format="webp"
      alt="Scott hard at work"
      class="mx-auto"
    />
    <h2 class="text-3xl">About me</h2>
  </div>

  <p
    class="mx-auto mt-6 text-balance px-4 text-lg tracking-wide md:w-2/3
    md:text-2xl"
  >
    I'm a musician turned web developer, currently residing in Chicago, IL. In
    over 15 years as a professional musican, I've honed my skills as a <span
      class="text-niceBlue">collaborator</span
    > and <span class="text-niceBlue">communicator</span> with <span
      class="text-niceGreen">uncompromising attention to detail</span
    > and a
    <span class="text-niceGreen">commitment to excellence</span>.
  </p>
  <p
    class="mx-auto mt-6 text-balance px-4 text-lg tracking-wide md:w-2/3
    md:text-2xl"
  >
    These qualities have served me well in web development, helping me create
    web applications that let businesses improve processes and improve team
    efficiency, as well as coordinating with other teams to deliver
    high quality products, quickly and efficiently.
  </p>
</section>
