<div id="dividerLine" class="my-4 h-1 w-full scale-0 bg-mainText transition duration-500 ease-in-out"></div>
<script>
  function animateDividerLine() {
    const dividerLine = document.getElementById("dividerLine");
    if (!dividerLine) return;
    // when divider line is visible using intersection observer
    const options = {
      rootMargin: "0px",
      threshold: 0.1,
    };
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          dividerLine.classList.remove("scale-0");
          dividerLine.classList.add("scale-1");
        }
      });
    }, options);
    observer.observe(dividerLine);
  }
  animateDividerLine();
</script>
