---
import { aboutMeId } from '../constants.ts'
---
<nav class="h-fit fixed inset-0 z-10 bg-mainBackground text-mainText">
  <div class="w-[90%] border-b mx-auto justify-center gap-6 flex child-hover:text-niceBlue p-2 border-niceGreen">
    <a href={`#${aboutMeId}`}>About me</a>
    <a href="#work">Work</a>
    <a href="#projects">Projects</a>
  </div>
</nav>
