---
import {
  aboutMeId,
  workId,
  personalProjectsId,
  contactId,
} from "../constants.ts"
---

<nav
  class="fixed inset-0 z-10 mx-auto h-fit max-w-[1440px] bg-mainBackground text-mainText"
>
  <div
    class="mx-auto flex w-[93%] justify-center gap-6 border-b border-niceGreen p-4 child-hover:text-niceBlue md:w-[85%]"
  >
    <a href={`#${aboutMeId}`}>About</a>
    <a href={`#${workId}`}>Work</a>
    <a href={`#${personalProjectsId}`}>Projects</a>
    <a href={`#${contactId}`}>Contact</a>
  </div>
</nav>
